<div>
    <h1>Recuperar Contraseña</h1>
    <form id="forgotPasswordForm">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Enviar correo</button>
    </form>
    <script>
        document.getElementById("forgotPasswordForm").addEventListener("submit", async (e) => {
            e.preventDefault();
            const email = document.getElementById("email").value;
            const response = await fetch("/api/sessions/forgot-password", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email })
            });
            const data = await response.json();
            alert(data.message);
        });
    </script>
</div>
