<div>
    <h1>Restablecer Contrase침a</h1>
    <form id="resetPasswordForm">
        <label for="password">Nueva Contrase침a:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Restablecer</button>
    </form>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get("token");

        document.getElementById("resetPasswordForm").addEventListener("submit", async (e) => {
            e.preventDefault();
            const password = document.getElementById("password").value;
            const response = await fetch("/api/sessions/reset-password", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ token, password })
            });
            const data = await response.json();
            if (data.status === "success") {
                alert("Contrase침a restablecida. Ahora puedes iniciar sesi칩n.");
                window.location.href = "/login";
            } else {
                alert(data.message);
            }
        });
    </script>
</div>